<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <Breadcrumb category="GameMobile"></Breadcrumb>
                    <h1>Game mobile</h1>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Breadcrumb from '../Breadcrumb.vue';
    export default {
        data() {
            return {

            }
        },
        components: {
            Breadcrumb
        }
    }
</script>
