<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Cộng đồng</h1>
                </div>
            </div>
        </div>
    </div>
</template>
