<template>
    <div id="app">
        <Header></Header>
        <div class="content">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
import Header from './components/layouts/Header'

export default {
    name: 'App',
    data() {
        return {}
    },
    components: {
        Header
    }
}
</script>

<style src="../assets/main.css"></style>
