body {
    background-color: #F6F3E4 !important;
    min-height: 100vh;
}

#app {
    margin-left: 55px;
    margin-right: 55px;
}

#wp-header {
    /*box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;*/
    z-index: 10;
    padding: 8px 0px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 12px 0px;
    border-bottom: 1px solid #E3DDBB;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 12px 0px 0px 0px;
}

.list-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-menu li a {
    display: block;
    text-decoration: none;
    padding: 12px;
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.list-network a i {
    color: #333;
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer;
}

.list-network a i:hover {
    color: #f794a4;
}

#wp-cart-network {
    display: flex;
    align-items: center;
}

#cart {
    margin-right: 25px;
    line-height: 0px;
    position: relative;
}

#cart i {
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.login-user, .search {
    display: flex;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;
}

.login-user i, .search i {
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.login-user a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 15px;
}

.search p {
    margin-bottom: 0px;
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 15px;
}

.box-item-buy {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    margin-bottom: 25px;
}

.box-item-buy .img-product {
    width: 100%;
    height: 450px;
}

.box-item-buy .img-product img {
    border-radius: 8px;
}

.box-item-buy .box-item-content {
    padding: 0;
}

.box-item-buy .box-item-content span {
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-top: 6px;
}

.wp-slider {
    margin-top: 35px;
}
.box-title{
    text-align: center;
}
.box-title h2{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 0px;
}

.box-title p{
    font-size: 16px;
    margin-bottom: 0px;
}

.box-list-item {
    margin-top: 35px;
}

.list-product{
    margin-top: 35px;
}

.img-product {
    width: 100%;
    height: 250px;
    cursor: pointer;
    position: relative;
}

.img-product:hover img {
    opacity: 0.3;
}

.img-product:hover .middle {
    opacity: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text a a {
    display: block;
    background-color: #04befe;
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: 600;
}


.img-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.content-buy-tet {
    margin-top: 15px;
}

a.btn-see-more {
    display: inline-block;
    text-decoration: none;
    background-color: #04befe;
    color: #fff;
    background-color: #04befe;
    white-space: nowrap;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 600;
    position: relative;
}

.box-item p {
    margin-top: 10px;
    color: #333;
    display: -webkit-box;
    overflow: hidden;
    font-size: 14px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.box-item-buy .box-item-content {
    padding: 8px 8px 15px 8px;
}

.box-item a {
    display: block;
    text-decoration: none;
    color: #333;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.action-buy button {
    margin: 0;
    font-size: 14px;
    padding: 4px 8px;
    background: #333;
    color: #fff;
}

.action-buy button:hover {
    color: #fff !important;
}
