<template>
    <div >
        <a-upload
            list-type="picture-card"
            :file-list="showFile"
            :multiple="false"
            :remove="handleRemove"
            @preview="handlePreview"
            :customRequest="uploadfiles"
            :before-upload="beforeUpload"
        >

            <a-icon type="plus" />
            <div class="ant-upload-text">
                Chọn File
            </div>
            <!--            <div v-if="typeForm === 'edit'">-->
            <!--              <img src="" alt="">-->
            <!--            </div>-->
        </a-upload>

        <a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel">
            <img alt="example" style="width: 100%" :src="previewImage" />
        </a-modal>

    </div>
</template>

<script>

function getBase64(file) {
    return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
    });
}

export default  {
    name: "UploadFileComponent",
    data() {
        return {
            previewVisible: false,
            previewImage: '',
            showFile: [],
            fileList: [],
        };
    },
    computed: {},
    mounted() {
    },
    methods: {
        handleCancel() {
            this.previewVisible = false;
        },
        uploadfiles({ file }) {

        },
        changeShowFile(e){
            this.showFile = e;
        },
        async handlePreview(file) {
            if (!file.url && !file.preview) {
                file.preview = await getBase64(file.originFileObj);
            }
            this.previewImage = file.url || file.preview;
            this.previewVisible = true;
        },
        handleRemove(file) {
            console.log('jdkjdkcjdcjdkcjkd', file.uid);
            const index = this.fileList.indexOf(file);
            const newFileList = this.fileList.slice();
            newFileList.splice(index, 1);
            this.fileList = newFileList;
            this.showFile = this.showFile.filter(item => item.uid !== file.uid);
            this.$emit("removeImage", '');
            this.$emit("updateFile", this.fileList);
        },
        async beforeUpload(file, fileList) {
            const arrTypeErr = ['png', 'jpg'];
            let fileName = file.name.split(" ").join("").split(",").join("");
            const fileExtension = fileName.split('.').pop().toLowerCase();
            const arrayExtension = ['png', 'jpg', 'jpeg', 'gif'];
            if(!arrayExtension.includes(fileExtension)) {
                this.$notification['error']({
                    message: 'Thất bại',
                    description:
                        'File không đúng định dạng',
                });
                return;
            }

            if (file.size > 5000000) {
                this.$notification['error']({
                    message: 'Thất bại',
                    description:
                        'File không được vượt quá 5MB',
                });
                return;
            }

            let i = 0;
            if(this.showFile.length) {
                i = this.showFile[this.showFile.length - 1].uid;
            }

            this.showFile.push( {
                uid: i + 1,
                name: file.name,
                status: 'done',
                url: await getBase64( new Blob([file], {
                    type: file.type
                })),
            })

            this.fileList.push(file);
            this.$emit("removeImage", true);
            this.$emit("updateFile", this.fileList);
        },

    }
};
</script>
