<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item" v-if="activeCategory == false"><a href="#">{{category}}</a></li>
                <li class="breadcrumb-item active" aria-current="page" v-if="activeCategory">{{category}}</li>
                <li class="breadcrumb-item active" aria-current="page" v-if="title">{{title}}</li>
            </ol>
        </nav>
    </div>
</template>
<script>
    export default {
        props: ['title', 'category'],
        data() {
            return {
                activeCategory: false
            }
        },
        mounted() {
            this.activeCate();
        },
        methods: {
            activeCate() {
                if (this.title) {
                    this.activeCategory = false;
                }else {
                    this.activeCategory = true;
                }
            }
        }
    }
</script>
<style>
    .active{
        color: #333;
    }
</style>
