<template>
    <div>
        <Breadcrumb category="Sản phẩm" :title="'Chi tiết sản phẩm ' + id"></Breadcrumb>
        <h1>Chi tiết sản phẩm {{id}}</h1>
    </div>
</template>
<script>
    import Breadcrumb from '../../Breadcrumb.vue';
    export default {
        data() {
            return {
                id: this.$route.params.id,
            }
        },
        components: {
            Breadcrumb
        }
    }
</script>
