<template>
    <div>
        <div class="wp-slider">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <swiper
                            :slides-per-view="1"
                            :space-between="30"
                            :loop="false"
                            :pagination="true"
                            :navigation="true"
                            @swiper="onSwiper"
                            @slideChange="onSlideChange"
                        >
                            <swiper-slide
                                v-for="n in 5"
                                :key="n"
                                class="test"
                                :class="{test_2: true}"
                            >
                                <img
                                    src="https://sixdo.vn/images/banners/original/ngang-nho-web--1672993342.jpg"
                                    style="width: 100%; height: auto; object-fit: cover"
                                    class="img-fluid w-100 mx-auto"
                                    blank="true"
                                >
                            </swiper-slide>
                        </swiper>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-list-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-title">
                            <img
                                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/fb1088de81e42c4e538967ec12cb5caa.png"
                                alt="">
                            <p class="count-down">{{ countDown }}</p>
                        </div>
                        <div class="list-product">
                            <div class="row">
                                <div class="col-md-12">
                                    <swiper
                                        :slides-per-view="5"
                                        :space-between="30"
                                        :loop="false"
                                        :pagination="false"
                                        :navigation="true"
                                    >
                                        <swiper-slide
                                            v-for="n in 6"
                                            :key="n"
                                            class="test"
                                            :class="{test_2: true}"
                                        >
                                            <div class="box-item">
                                                <img
                                                    src="https://sixdo.vn/images/products/2023/large/_VQV7556.jpg"
                                                    style="width: 100%; height: 250px; object-fit: cover"
                                                    class="img-fluid w-100 mx-auto"
                                                >
                                                <div class="box-item-content">
                                                    <a href="">Grey Sleeveless Midi Raw Dress</a>
                                                    <span style="color: #f11">20.000.000đ <del
                                                        style="color: #333">22.000.000đ</del></span>
                                                </div>
                                            </div>
                                        </swiper-slide>
                                    </swiper>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-list-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-title">
                            <h2>SẢN PHẨM NỔI BẬT</h2>
                            <p>Sản phẩm được đề xuất</p>
                        </div>
                        <div class="list-product">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="box-item box-item-buy">
                                        <div class="img-product">
                                            <img class="img-fluid"
                                                 src="https://sixdo.vn/images/products/2022/large/VNQ00535.jpg"
                                                 alt="">
                                            <div class="middle">
                                                <div class="text">
                                                    <router-link
                                                        :to="{name: 'ProductDetail', params: { id: 1}}"
                                                        name="ProductDetail">
                                                        <a href="/product/1">Xem ngay</a>
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-item-content">
                                            <a href="">Grey Sleeveless Midi Raw Dress</a>
                                            <span style="color: #f11">20.000.000đ <del
                                                style="color: #333">22.000.000đ</del></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-item box-item-buy">
                                        <div class="img-product">
                                            <img class="img-fluid"
                                                 src="https://sixdo.vn/images/products/2023/large/_VQV6818.jpg"
                                                 alt="">
                                            <div class="middle">
                                                <div class="text">
                                                    <router-link
                                                        :to="{name: 'ProductDetail', params: { id: 2}}"
                                                        name="ProductDetail">
                                                        <a href="/product/2">Xem ngay</a>
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-item-content">
                                            <a href="">Grey Sleeveless Midi Raw Dress</a>
                                            <span style="color: #f11">20.000.000đ <del
                                                style="color: #333">22.000.000đ</del></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-item box-item-buy">
                                        <div class="img-product">
                                            <img class="img-fluid"
                                                 src="https://sixdo.vn/images/products/2022/large/DSC_4461.jpg"
                                                 alt="">
                                            <div class="middle">
                                                <div class="text">
                                                    <router-link
                                                        :to="{name: 'ProductDetail', params: { id: 3}}"
                                                        name="ProductDetail">
                                                        <a href="/product/3">Xem ngay</a>
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-item-content">
                                            <a href="">Grey Sleeveless Midi Raw Dress</a>
                                            <span style="color: #f11">20.000.000đ <del
                                                style="color: #333">22.000.000đ</del></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-item box-item-buy">
                                        <div class="img-product">
                                            <img class="img-fluid"
                                                 src="https://sixdo.vn/images/products/2022/large/NMD_7013.jpg"
                                                 alt="">
                                            <div class="middle">
                                                <div class="text">
                                                    <router-link
                                                        :to="{name: 'ProductDetail', params: { id: 4}}"
                                                        name="ProductDetail">
                                                        <a href="/product/4">Xem ngay</a>
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-item-content">
                                            <a href="">Grey Sleeveless Midi Raw Dress</a>
                                            <span style="color: #f11">20.000.000đ <del
                                                style="color: #333">22.000.000đ</del></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-item box-item-buy">
                                        <div class="img-product">
                                            <img class="img-fluid"
                                                 src="https://sixdo.vn/images/products/2022/large/NMD_7013.jpg"
                                                 alt="">
                                            <div class="middle">
                                                <div class="text">
                                                    <router-link
                                                        :to="{name: 'ProductDetail', params: { id: 4}}"
                                                        name="ProductDetail">
                                                        <a href="/product/4">Xem ngay</a>
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-item-content">
                                            <a href="">Grey Sleeveless Midi Raw Dress</a>
                                            <span style="color: #f11">20.000.000đ <del
                                                style="color: #333">22.000.000đ</del></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-item box-item-buy">
                                        <div class="img-product">
                                            <img class="img-fluid"
                                                 src="https://sixdo.vn/images/products/2022/large/DSC_4461.jpg"
                                                 alt="">
                                            <div class="middle">
                                                <div class="text">
                                                    <router-link
                                                        :to="{name: 'ProductDetail', params: { id: 3}}"
                                                        name="ProductDetail">
                                                        <a href="/product/3">Xem ngay</a>
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-item-content">
                                            <a href="">Grey Sleeveless Midi Raw Dress</a>
                                            <span style="color: #f11">20.000.000đ <del
                                                style="color: #333">22.000.000đ</del></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-item box-item-buy">
                                        <div class="img-product">
                                            <img class="img-fluid"
                                                 src="https://sixdo.vn/images/products/2022/large/NMD_7013.jpg"
                                                 alt="">
                                            <div class="middle">
                                                <div class="text">
                                                    <router-link
                                                        :to="{name: 'ProductDetail', params: { id: 4}}"
                                                        name="ProductDetail">
                                                        <a href="/product/4">Xem ngay</a>
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-item-content">
                                            <a href="">Grey Sleeveless Midi Raw Dress</a>
                                            <span style="color: #f11">20.000.000đ <del
                                                style="color: #333">22.000.000đ</del></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-item box-item-buy">
                                        <div class="img-product">
                                            <img class="img-fluid"
                                                 src="https://sixdo.vn/images/products/2023/large/_VQV6818.jpg"
                                                 alt="">
                                            <div class="middle">
                                                <div class="text">
                                                    <router-link
                                                        :to="{name: 'ProductDetail', params: { id: 2}}"
                                                        name="ProductDetail">
                                                        <a href="/product/2">Xem ngay</a>
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-item-content">
                                            <a href="">Grey Sleeveless Midi Raw Dress</a>
                                            <span style="color: #f11">20.000.000đ <del
                                                style="color: #333">22.000.000đ</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {notify} from "../../../services/helpers";
import {Navigation, Pagination} from 'swiper'

import {SwiperCore, Swiper, SwiperSlide} from 'swiper-vue2'

// Import Swiper styles
import 'swiper/swiper-bundle.css'

SwiperCore.use([Navigation, Pagination])
export default {
    data() {
        return {
            now: new Date(),
            countDown: 10
        }
    },
    mounted() {
        this.countDownTimer();
    },
    components: {
        Swiper,
        SwiperSlide
    },
    methods: {
        countDownTimer() {
            if (this.countDown > 0) {
                setTimeout(() => {
                    this.countDown -= 1
                    this.countDownTimer()
                }, 1000)
            }
        }
    }
}
</script>
<style></style>
