<template>
    <div id="wp-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-top">
                        <div id="wp-cart-network">
                            <div class="login-user">
                                <i class="fa-regular fa-user"></i>
                                <a href="">Login</a>
                            </div>
                            <div class="search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <p>Tìm kiếm</p>
                            </div>
                            <div id="cart">
                                <i class="fa-solid fa-cart-plus"></i>
                            </div>
<!--                            <div class="list-network">-->
<!--                                <a href=""><i class="fa-brands fa-facebook"></i></a>-->
<!--                                <a href=""><i class="fa-brands fa-youtube"></i></a>-->
<!--                                <a href=""><i class="fa-brands fa-instagram"></i></a>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div class="header">
                        <div id="logo">
                            <router-link
                                to="/"
                                class="menu-link"
                                active-class="active"
                                exact
                                name="GameMobile">
                                <a href=""><img src="https://sixdo.vn/images/logo.svg" alt=""></a>
                            </router-link>
                        </div>
                        <div class="menu-header">
                            <nav>
                                <ul class="list-menu">
                                    <router-link
                                        tag="li"
                                        to="/game-mobile"
                                        class="menu-link"
                                        active-class="active"
                                        exact
                                        name="GameMobile">
                                        <a href="">Sản phẩm</a>
                                    </router-link>
                                    <router-link
                                        tag="li"
                                        to="/match"
                                        class="menu-link"
                                        active-class="active"
                                        exact
                                        name="Match">
                                        <a href="">Bộ sưu tập</a>
                                    </router-link>
                                    <router-link
                                        tag="li"
                                        to="video-game"
                                        class="menu-link"
                                        active-class="active"
                                        exact
                                        name="VideoGame">
                                        <a href="">Fashion show</a>
                                    </router-link>
                                    <router-link
                                        tag="li"
                                        to="video-game"
                                        class="menu-link"
                                        active-class="active"
                                        exact
                                        name="VideoGame">
                                        <a href="">Tin tức</a>
                                    </router-link>
                                    <router-link
                                        tag="li"
                                        to="/public"
                                        class="menu-link"
                                        active-class="active"
                                        exact
                                        name="Public">
                                        <a href="">Giới thiệu</a>
                                    </router-link>
                                    <router-link
                                        tag="li"
                                        to="/public"
                                        class="menu-link"
                                        active-class="active"
                                        exact
                                        name="Public">
                                        <a href="">Trend</a>
                                    </router-link>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style></style>
