<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="action mt-3 mb-3">
                        <a-button class="ml-3" type="primary" ghost @click="createProduct">
                            Thêm mới
                        </a-button>
                    </div>
                    <a-table
                        :columns="columns"
                        :data-source="data"
                        bordered
                    />
                    <a-modal
                        v-model="visible"
                        :title="title"
                        width="700px"
                        okText="Lưu"
                        cancelText="Hủy"
                        @ok="handleSubmitForm"
                        @cancel="handleCancel"
                        :maskClosable="false"
                    >
                        <a-form-model ref="form" :model="form" :rules="rules" :label-col="labelCol"
                                      :wrapper-col="wrapperCol">
                            <a-form-model-item ref="name" label="Tên sản phẩm" prop="name">
                                <a-input
                                    type="text"
                                    placeholder="Tên sản phẩm..."
                                    v-model="form.name"
                                    autocomplete="off"
                                />
                            </a-form-model-item>
                            <a-form-model-item ref="slug" label="Slug (Đường dẫn seo)" prop="slug">
                                <a-input
                                    type="text"
                                    placeholder="Slug..."
                                    v-model="form.slug"
                                    autocomplete="off"
                                />
                            </a-form-model-item>
                            <a-form-model-item ref="thunbar" label="Hình ảnh" prop="thunbar"
                                               style="margin-bottom: 10px;">
                                <Upload
                                    ref="imageFile"
                                    @updateFile="updateFile"
                                    @removeImage="removeImage"
                                >
                                </Upload>
                            </a-form-model-item>
                            <a-form-model-item ref="thunbarDesc" label="Hình ảnh mô tả" prop="thunbarDesc"
                                               style="margin-bottom: 10px;">
                                <Upload
                                    ref="imageFile"
                                    @updateFile="updateFile"
                                    @removeImage="removeImage"
                                >
                                </Upload>
                            </a-form-model-item>
                            <a-form-model-item ref="priceSale" label="Giá sale sản phẩm" prop="priceSale">
                                <a-input
                                    type="text"
                                    placeholder="Giá sale sản phẩm..."
                                    v-model="form.priceSale"
                                    autocomplete="off"
                                />
                            </a-form-model-item>
                            <a-form-model-item ref="price" label="Giá sản phẩm" prop="price">
                                <a-input
                                    type="text"
                                    placeholder="Giá sản phẩm..."
                                    v-model="form.price"
                                    autocomplete="off"
                                />
                            </a-form-model-item>
                            <a-form-model-item ref="number" label="Số lượng" prop="number">
                                <a-input
                                    type="text"
                                    placeholder="Số lượng..."
                                    v-model="form.number"
                                    autocomplete="off"
                                />
                            </a-form-model-item>
                            <a-form-model-item ref="desc" label="Mô tả" prop="desc">
                                <yimo-vue-editor v-model="form.desc"></yimo-vue-editor>

                            </a-form-model-item>
                            <a-form-model-item ref="content" label="Nội dung" prop="content">
                                <yimo-vue-editor v-model="form.content"></yimo-vue-editor>
                            </a-form-model-item>

                        </a-form-model>
                    </a-modal>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import ProductService from '../../../../services/product/index'
import Upload from '../../upload/index.vue'
import {VueEditor} from "vue2-editor";
import YimoVueEditor from 'yimo-vue-editor'

const columns = [
    {
        title: 'STT',
        dataIndex: 'stt',
    },
    {
        title: 'Tên sản phẩm',
        dataIndex: 'name',
    },
    {
        title: 'Hình ảnh',
        dataIndex: 'images',
    },
    {
        title: 'Số lượng',
        dataIndex: 'number',
    },
    {
        title: 'Giá',
        dataIndex: 'price',
    },
    {
        title: 'Hành động',
        dataIndex: 'action',
    },
];

const data = [];
for (let i = 0; i < 46; i++) {
    data.push({
        key: i,
        name: `Edward King ${i}`,
        age: 32,
        address: `London, Park Lane no. ${i}`,
    });
}

export default {
    data() {
        return {
            data,
            columns,
            loading: false,
            visible: false,
            title: 'Thêm mới sản phẩm',
            labelCol: {span: 6},
            wrapperCol: {span: 18},
            form: {
                name: '',
                slug: '',
                thunbar: '',
                thunbarDesc: '',
                priceSale: '',
                price: '',
                desc: '',
                content: '',
                number: ''
            },
            rules: {
                name: [
                    {
                        required: true,
                        message: "Tên sản phẩm không được để trống",
                        trigger: "change",
                    },
                ],
                thunbar: [
                    {
                        required: true,
                        message: "Hình ảnh sản phẩm không được để trống",
                        trigger: "change",
                    },
                ],
                price: [
                    {
                        required: true,
                        message: "Giá sản phẩm không được để trống",
                        trigger: "change",
                    },
                ],
                number: [
                    {
                        required: true,
                        message: "Số lượng sản phẩm không được để trống",
                        trigger: "change",
                    },
                ],
            },
        };
    },
    components: {
        Upload,
        VueEditor,
        YimoVueEditor
    },
    mounted() {
        this.getProduct();
    },
    methods: {
        createProduct() {
            this.visible = true;
        },
        getProduct() {
            ProductService.apiGetProduct()
                .then((res) => {
                    let respon = res.data;
                    console.log(respon)
                });
        },
        handleSubmitForm() {
            this.$refs.form.validate((valid) => {
                if (valid) {
                    alert('okko');
                    // let body = new FormData()
                    // body.set('thunbar', this.fileList[0]);
                    // body.set("data", JSON.stringify(this.form));
                    // body.set("typePage", JSON.stringify(this.typePage));
                    //
                    // if (this.typeForm === 'create') {
                    //     this.onCreate(body);
                    // } else {
                    //     this.onEdit(body);
                    // }
                }
            });
        },
        handleCancel() {

        },
        updateFile($event) {
            console.log($event);
        },
        removeImage($event) {

        },
    }
};
</script>
